# Logs
logs
*.log
npm-debug.log*

# Dependency directories
# (This is huge, never upload this!)
node_modules/
dist/
dist-ssr/
*.local

# Environment variables 
# (CRITICAL: This keeps your API keys safe)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor folders
.vscode/
.idea/
.DS_Store